<div class="container mt-3 px-2">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="mb-2">
        <%= link_to 'エリア一覧', areas_path %> >
        <%= link_to area_path(@area) do %>
          <%= @area.area_name %>
        <% end %> >
        <%= link_to sub_area_path(@sub_area) do %>
          <%= @sub_area.sub_area_name %>
        <% end %> >
        <span  style="font-size: 1.2em" >
          <%= @od_route.route_name %>
        </span>
        <% if current_user.admin? %>
          &nbsp;<%= link_to '編集', edit_od_route_path(@od_route) %>
        <% end %>
        </div>
      <div>
        <%= @od_route.combined_grade %>
      </div>
      <div>
       <% if @od_route.od_logs.exists? %>
          <% @od_route.od_logs.order(date: 'DESC').each do |od_log| %>
            <div class="card p-1 my-1">

                <div>
                  <%= link_to edit_od_route_od_log_path(od_log.od_route, od_log) do %>
                  <span style="font-size: 1.1rem"><%= od_log.date %></span>
                  <%= Status.find_by(id:od_log.status_id).status %>
                  <% end %>
                </div>
              <div>
                <%= od_log.comment %>
              </div>
              <div class="text-right">
                <%= link_to od_log_path(od_log), method: :delete, data: {confirm: "本当に削除しますか?"} do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </div>


            </div>
          <% end %>
        <% else %>
          ログがまだ登録されていません
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container fixed-bottom">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <%= link_to 'ログを追加', new_od_route_od_log_path(@od_route), class:'btn btn-primary btn-block btn-lg my-3' %>
    </div>
  </div>
</div>
