<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 text-center">
    <h2>プロファイル更新 <%= resource_name.to_s.humanize %></h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    label: '新しいパスワード',
                    hint: "変更しない場合は、空欄のままにしてください",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: '現在のパスワード',
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    label: '現在のパスワード(確認)',
                    hint: "変更を保存するには、現在のパスワードの入力が必要です",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "更新する" %>
      </div>
    <% end %>

    <h3>アカウントを削除する</h3>

    <p>退会すると今までの履歴はすべて削除されます <%= link_to "退会する", registration_path(resource_name), data: { confirm: "今までの履歴がすべて削除されますが、よろしいですか?" }, method: :delete %></p>

    <%= link_to "戻る", :back %>
  </div>
</div>
