<div class="container mt-3 px-2">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h4>合計本数ランキング</h4>
      <p>ランキングは <%= link_to 'アカウント設定', edit_user_registration_path %> でプロフィールを公開している場合のみ表示されます</p>
      <div class="text-left mb-1"  style="font-size: 15px;">
        <%= @from.strftime("%Y年%m月%d日(#{%w(日 月 火 水 木 金 土)[@from.wday]})") %> 〜 <%= @to.strftime("%Y年%m月%d日(#{%w(日 月 火 水 木 金 土)[@to.wday]})")  %>
      </div>
      <div class="btn-group btn-group-toggle d-flex mb-2">
          <%= active_link_to '全期間', users_path, active: :exact, class:"btn btn-outline-primary btn-sm"   %>
          <%= active_link_to '今年', users_path(from: Date.today.beginning_of_year, to: Date.today.end_of_year), active: :exact, class:"btn btn-outline-primary btn-sm"   %>
          <%= active_link_to '今月', users_path(from: Date.today.beginning_of_month, to: Date.today.end_of_month), active: :exact, class:"btn btn-outline-primary btn-sm"   %>
          <%= active_link_to '今週', users_path(from: Date.today.beginning_of_week, to: Date.today.end_of_week), active: :exact, class:"btn btn-outline-primary btn-sm"   %>
          <%= active_link_to '今日', users_path(from: Date.today, to: Date.today), active: :exact, class:"btn btn-outline-primary btn-sm"   %>
      </div>
      <% @users.each do |user| %>
        <%= link_to user_path(user) do %>
          <div class="card my-2 d-flex">
            <div class="d-flex align-items-center">
              <div>
                <% if user.image.blank?  %>
                  <%= image_tag 'no_profile_image_logo.png', size:'100x100', class:'rounded mr-3' %>
                <% else %>
                  <%= cl_image_tag user.image, height: 100, width: 100, crop: :fill, class:'rounded mr-3' %>
                <% end %>
              </div>
              <div>
                <div>
                  <span style="font-size: 1.2rem"><%= user.nickname.blank? ? 'ニックネーム未設定' : user.nickname %></span>さん
                </div>
                <div>
                  合計本数: <span style="font-size: 1.2rem"><%= user.logs.count %></span>
                </div>
                <div>
                  ボルダー最高グレード: <%= user.best_boulder_sent.combined_grade unless user.best_boulder_sent.nil? %>
                </div>
                <div>
                  リード最高グレード: <%= user.best_lead_sent.combined_grade unless user.best_lead_sent.nil?  %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

