<div class="container mt-3 px-2">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="d-flex mb-1 align-items-center">
      <% if @user.image.blank? && @user == current_user %>
        <%= link_to edit_user_registration_path do %>
          <%= image_tag 'no_profile_image_logo.png', size:'40x40', class:'rounded-circle mr-3' %>
        <% end %>
      <% elsif @user.image.blank? %>
        <%= image_tag 'no_profile_image_logo.png', size:'40x40', class:'rounded-circle mr-3' %>
      <% else %>
        <%= cl_image_tag @user.image, height: 40, width: 40, crop: :fill, class:'rounded-circle mr-3' %>
      <% end %>
        <div  class="d-flex align-items-center">
          <div>
            <h4 class="mb-0 mr-3">
              <% if @user.nickname.blank? %>
                <%= link_to 'ニックネーム未設定', edit_user_registration_path %>さん
              <% else %>
                <%= @user.nickname %>
              <% end %>さんのクラログ
            </h4>
          </div>
          <% if @user == current_user && @user.privacy_setting == 2 %>
            <div>
              <button class="clipboard-btn btn btn-outline-primary btn-sm py-0 " data-clipboard-text="<%= request.url %>" onclick="clickEvent()"><i class="fas fa-link"></i> 共有用URLをコピー</button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-left mb-1"  style="font-size: 15px;">
        <%= @from.strftime("%Y年%m月%d日(#{%w(日 月 火 水 木 金 土)[@from.wday]})") %> 〜 <%= @to.strftime("%Y年%m月%d日(#{%w(日 月 火 水 木 金 土)[@to.wday]})")  %>
      </div>
      <div class="btn-group btn-group-toggle d-flex mb-2">
          <%= active_link_to '全期間', "/users/#{@user.hash_string}", active: :exact, class:"btn btn-outline-primary btn-sm"   %>
          <%= active_link_to '今年', "/users/#{@user.hash_string}?from=#{Date.today.beginning_of_year}&to=#{Date.today.end_of_year}", active: :exact, class:"btn btn-outline-primary btn-sm"   %>
          <%= active_link_to '今月', "/users/#{@user.hash_string}?from=#{Date.today.beginning_of_month}&to=#{Date.today.end_of_month}", active: :exact, class:"btn btn-outline-primary btn-sm"   %>
          <%= active_link_to '今週', "/users/#{@user.hash_string}?from=#{Date.today.beginning_of_week}&to=#{Date.today.end_of_week}", active: :exact, class:"btn btn-outline-primary btn-sm"   %>
          <%= active_link_to '今日', "/users/#{@user.hash_string}?from=#{Date.today}&to=#{Date.today}", active: :exact, class:"btn btn-outline-primary btn-sm"   %>
      </div>

<!-- インドア -->
      <div class="card px-2 pt-1 pb-0 mt-1 mb-2">
        <div style="font-size: 1.1rem;">ジム</div>
        <div class="d-flex">
          <div class="flex-fill">
            完登本数：<span style="font-size: 1.2rem;"><%= @logs.where('status_id < ?', 4).count %></span>
          </div>
          <div class="flex-fill">
            クライミング日数：<span style="font-size: 1.2rem;"><%= @logs.count('DISTINCT date') if @logs.exists? %></span></%>
          </div>
        </div>
        <div class="d-md-flex">
          <div class="my-1 flex-fill">ボルダー最高グレード
            <div>
              <% unless @boulder_best_os.nil? %>
                OS
                <% if @user == current_user %>
                  <%= link_to route_path(@boulder_best_os.route) do %>
                    <span style="font-size: 1.2rem;"><%= @boulder_best_os.route.combined_grade %></span>
                  <% end %>
                <% else %>
                    <span style="font-size: 1.2rem;"><%= @boulder_best_os.route.combined_grade %></span>
                <% end %>
              <% end %>
              <% unless @boulder_best_fl.nil? %>
                FL
                <% if @user == current_user %>
                  <%= link_to route_path(@boulder_best_fl.route) do %>
                    <span style="font-size: 1.2rem;"><%= @boulder_best_fl.route.combined_grade %></span>
                  <% end %>
                <% else %>
                    <span style="font-size: 1.2rem;"><%= @boulder_best_fl.route.combined_grade %></span>
                <% end %>
              <% end %>
              <% unless @boulder_best_sent.nil? %>
                完登
                <% if @user == current_user %>
                  <%= link_to route_path(@boulder_best_sent.route) do %>
                    <span style="font-size: 1.2rem;"><%= @boulder_best_sent.route.combined_grade %></span>
                  <% end %>
                <% else %>
                  <span style="font-size: 1.2rem;"><%= @boulder_best_sent.route.combined_grade %></span>
                <% end %>
              <% end %>
            </div>
          </div>


          <div class="my-1 flex-fill">
            <div>リード最高グレード
              <div>
                <% unless @lead_best_os.nil? %>
                  OS
                  <% if @user == current_user %>
                    <%= link_to route_path(@lead_best_os.route) do %>
                      <span style="font-size: 1.2rem;"><%=@lead_best_os.route.combined_grade %></span>
                    <% end %>
                  <% else %>
                    <span style="font-size: 1.2rem;"><%=@lead_best_os.route.combined_grade %></span>
                  <% end %>
                <% end %>
                <% unless @lead_best_fl.nil? %>
                  FL
                  <% if @user == current_user %>
                    <%= link_to route_path(@lead_best_fl.route) do %>
                      <span style="font-size: 1.2rem;"><%=@lead_best_fl.route.combined_grade %></span>
                    <% end %>
                  <% else %>
                      <span style="font-size: 1.2rem;"><%=@lead_best_fl.route.combined_grade %></span>
                  <% end %>
                <% end %>
                <% unless @lead_best_rp.nil? %>
                  RP
                  <% if @user == current_user %>
                    <%= link_to route_path(@lead_best_rp.route) do %>
                      <span style="font-size: 1.2rem;"><%=@lead_best_rp.route.combined_grade %></span>
                    <% end %>
                  <% else %>
                    <span style="font-size: 1.2rem;"><%=@lead_best_rp.route.combined_grade %></span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>

<!-- アウトドア -->
      <% if @od_logs.exists? %>
        <div class="card px-2 pt-1 pb-0 mt-1">
          <div style="font-size: 1.1rem;">岩場</div>
          <div class="d-flex">
            <div class="flex-fill">
              完登本数：<span style="font-size: 1.2rem;"><%= @od_logs.where('status_id < ?', 4).count %></span>
            </div>
            <div class="flex-fill">
              クライミング日数：<span style="font-size: 1.2rem;"><%= @od_logs.count('DISTINCT date') if @od_logs.exists? %></span></%>
            </div>
          </div>
          <div class="d-md-flex">
            <div class="my-1 flex-fill">ボルダー最高グレード
              <div>
                <% unless @od_boulder_best_os.nil? %>
                  OS
                  <% if @user == current_user %>
                    <%= link_to route_path(@od_boulder_best_os.od_route) do %>
                      <span style="font-size: 1.2rem;"><%= @od_boulder_best_os.od_route.combined_grade %></span>
                    <% end %>
                  <% else %>
                      <span style="font-size: 1.2rem;"><%= @od_boulder_best_os.od_route.combined_grade %></span>
                  <% end %>
                <% end %>
                <% unless @od_boulder_best_fl.nil? %>
                  FL
                  <% if @user == current_user %>
                    <%= link_to od_route_path(@od_boulder_best_fl.od_route) do %>
                      <span style="font-size: 1.2rem;"><%= @od_boulder_best_fl.od_route.combined_grade %></span>
                    <% end %>
                  <% else %>
                      <span style="font-size: 1.2rem;"><%= @od_boulder_best_fl.od_route.combined_grade %></span>
                  <% end %>
                <% end %>
                <% unless @od_boulder_best_sent.nil? %>
                  完登
                  <% if @user == current_user %>
                    <%= link_to od_route_path(@od_boulder_best_sent.od_route) do %>
                      <span style="font-size: 1.2rem;"><%= @od_boulder_best_sent.od_route.combined_grade %></span>
                    <% end %>
                  <% else %>
                    <span style="font-size: 1.2rem;"><%= @od_boulder_best_sent.od_route.combined_grade %></span>
                  <% end %>
                <% end %>
              </div>
            </div>


            <div class="my-1 flex-fill">
              <div>リード最高グレード
                <div>
                  <% unless @od_lead_best_os.nil? %>
                    OS
                    <% if @user == current_user %>
                      <%= link_to od_route_path(@od_lead_best_os.od_route) do %>
                        <span style="font-size: 1.2rem;"><%=@od_lead_best_os.od_route.combined_grade %></span>
                      <% end %>
                    <% else %>
                      <span style="font-size: 1.2rem;"><%=@od_lead_best_os.od_route.combined_grade %></span>
                    <% end %>
                  <% end %>
                  <% unless @od_lead_best_fl.nil? %>
                    FL
                    <% if @user == current_user %>
                      <%= link_to od_route_path(@od_lead_best_fl.od_route) do %>
                        <span style="font-size: 1.2rem;"><%=@od_lead_best_fl.od_route.combined_grade %></span>
                      <% end %>
                    <% else %>
                        <span style="font-size: 1.2rem;"><%=@od_lead_best_fl.od_route.combined_grade %></span>
                    <% end %>
                  <% end %>
                  <% unless @od_lead_best_rp.nil? %>
                    RP
                    <% if @user == current_user %>
                      <%= link_to od_route_path(@od_lead_best_rp.od_route) do %>
                        <span style="font-size: 1.2rem;"><%=@od_lead_best_rp.od_route.combined_grade %></span>
                      <% end %>
                    <% else %>
                      <span style="font-size: 1.2rem;"><%=@od_lead_best_rp.od_route.combined_grade %></span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

<!-- tab menu -->
      <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="boulder-tab" data-toggle="tab" href="#boulder" role="tab" aria-controls="boulder" aria-selected="false">ボルダー</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="lead-tab" data-toggle="tab" href="#lead" role="tab" aria-controls="lead" aria-selected="false">リード</a>
        </li>
      </ul>



<!-- tab contents start -->
      <div class="tab-content" id="myTabContent">

<!-- tab all -->
        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
          <h5 class="mt-3 pl-1 mb-1">合計トライ本数(日別)</h5>
          <div class="mb-3">
            <% firstdate = [(@logs.order(:date).first.date if @logs.exists?), (@od_logs.order(:date).first.date if @od_logs.exists?)].compact.min  %>
            <% lastdate = [(@logs.order(:date).last.date if @logs.exists?), (@od_logs.order(:date).last.date if @od_logs.exists?)].compact.max %>
            <% in_boulder = @logs.joins(:route).where('category_id IN (1, 4)').group_by_day(:date, range: (firstdate..lastdate unless firstdate.nil? && lastdate.nil? )).count %>
            <% in_route = @logs.joins(:route).where('category_id IN (2, 3)').group_by_day(:date, range: (firstdate..lastdate unless firstdate.nil? && lastdate.nil? )).count %>
            <% od_boulder = @od_logs.joins(:od_route).where('category_id IN (1, 4)').group_by_day(:date, range: (firstdate..lastdate unless firstdate.nil? && lastdate.nil? )).count %>
            <% od_route = @od_logs.joins(:od_route).where('category_id IN (2, 4)').group_by_day(:date, range: (firstdate..lastdate unless firstdate.nil? && lastdate.nil? )).count %>

            <%= column_chart [
              { name: 'ボルダー(ジム)', data: in_boulder },
              { name: 'ルート(ジム)', data: in_route },
              { name: 'ボルダー(岩場)', data: od_boulder },
              { name: 'ルート(岩場)', data: od_route }
            ],
                points: false,
                dataset: {borderWidth: 0},
                library: {animation: {easing: 'easeOutQuad',"duration": 1000},
                          scales: {xAxes: [{ticks: {padding: 8},
                                                    gridLines: {drawTicks: false},
                                                    stacked: true }],
                                   yAxes: [{ticks: {suggestedMax: 15, stepSize: 5},
                                                    gridLines: {display:false},
                                                    stacked: true }]
                                  },
                          legend: {
                                display: true,
                                labels: {
                                    boxWidth: 10,
                                    }
                                  }
                         },
                suffix: "本" %>
          </div>

          <h5 class="mt-3 pl-1 mb-1">クライミング日数(ジム/岩場別)</h5>
          <div class="mb-3">
            <% visits_by_gym = @logs.joins(:gym).group(:name).count('DISTINCT date') %>
            <% visits_by_area = @od_logs.joins(od_route: { sub_area: :area} ).group(:area_name).count('DISTINCT date')%>
            <% visits = visits_by_gym.merge(visits_by_area).sort_by{ |_, v| -v } %>
            <%= bar_chart visits,
                points: false,
                dataset: {borderWidth: 0},
                library: {animation: {easing: 'easeOutQuad',"duration": 1000},
                          scales: {xAxes: [{ticks: {padding: 8, stepSize: 1},
                                            gridLines: {drawTicks: false}}],
                                   yAxes: [{gridLines: {display:false}}]
                                  }
                         },
                suffix: "日" %>
          </div>
        </div>

<!-- tab boulder -->
        <div class="tab-pane fade" id="boulder" role="tabpanel" aria-labelledby="boulder-tab">
          <h5 class="mt-3 pl-1 mb-1">ボルダートライ数(日別)</h5>
          <div class="mb-3">
            <%= column_chart  [
              { name: 'ジム', data: in_boulder },
              { name: '岩場', data: od_boulder },
            ],
                points: false,
                dataset: {borderWidth: 0},
                library: {animation: {easing: 'easeOutQuad',"duration": 1000},
                          scales: {xAxes: [{ticks: {padding: 8},
                                            gridLines: {drawTicks: false}}],
                                   yAxes: [{ticks: {suggestedMax: 15, stepSize: 5}, gridLines: {display:false}}]
                                  }
                         },
                suffix: "本" %>
          </div>

          <h5 class="mt-3 pl-1 mb-1">ボルダー完登数(グレード別)</h5>

          <!-- インドアボルダー用データ -->
          <% best_boulder_grade = @logs.joins(:route).where('routes.category_id = ? AND logs.status_id < ?', 1, 4).maximum('routes.grade_id') %>
          <% best_boulder_grade = 0 if best_boulder_grade.nil? %>
          <% boulders_by_grade = {} %>
            <% Grade.where(grade_type: 'ボルダー').each do |grade| %>
            <% boulders_by_grade[grade.grade] = 0 if grade.id <= best_boulder_grade + 2 %>
          <% end %>
          <% sents = @logs.joins(:route).joins(:grade).select('grades.grade').where('routes.category_id = ? AND logs.status_id < ?', 1, 4 ).group('grades.grade').count %>
          <% boulders_by_grade =  boulders_by_grade.merge(sents) %>

          <!-- アウトドアボルダー用データ -->
          <% best_od_boulder_grade = @od_logs.joins(:od_route).where('od_routes.category_id = ? AND od_logs.status_id < ?', 1, 4).maximum('od_routes.grade_id') %>
          <% best_od_boulder_grade = 0 if best_od_boulder_grade.nil? %>
          <% od_boulders_by_grade = {} %>
            <% Grade.where(grade_type: 'ボルダー').each do |grade| %>
            <% od_boulders_by_grade[grade.grade] = 0 if grade.id <= best_od_boulder_grade + 2 %>
          <% end %>
          <% od_sents = @od_logs.joins(:od_route).joins(:grade).select('grades.grade').where('od_routes.category_id = ? AND od_logs.status_id < ?', 1, 4 ).group('grades.grade').count %>
          <% od_boulders_by_grade =  od_boulders_by_grade.merge(od_sents) %>

          <div class="mb-3">
            <%= bar_chart [{name: 'ジム', data: boulders_by_grade},
                           {name: '岩場', data: od_boulders_by_grade}],
                points: false,
                dataset: {borderWidth: 0},
                library: {animation: {easing: 'easeOutQuad',"duration": 1000},
                          scales: {
                            xAxes: [{ticks: {suggestedMax: 10, stepSize: 5, padding: 8}, gridLines: {drawTicks: false}}],
                            yAxes: [{gridLines: {display:false}}]
                            }
                          },
                suffix: "本" %>
          </div>

          <h5 class="mt-3 pl-1 mb-1">ボルダー最高グレード(日別)</h5>
          <div>
            <!-- インドアボルダー用元データ -->
            <% best_boulder_grade_by_date = @logs.joins(:route).where('routes.category_id = ? AND logs.status_id < ?', 1, 4).group(:date).order(:date).maximum('routes.grade_id') %>

            <!-- アウトドアボルダー用元データ -->
            <% best_od_boulder_grade_by_date = @od_logs.joins(:od_route).where('od_routes.category_id = ? AND od_logs.status_id < ?', 1, 4).group(:date).order(:date).maximum('od_routes.grade_id') %>

            <!-- ラベル用データ -->
            <% labels_hash = {} %>
            <% best_boulder_grade_by_date.merge(best_od_boulder_grade_by_date).sort.each do |k, v|  %>
              <% labels_hash[k] = nil  %>
            <% end %>
            <% @labels = labels_hash.keys %>

            <!-- チャート用データ -->
            <% @datas = labels_hash.merge(best_boulder_grade_by_date).values %>
            <% @od_datas = labels_hash.merge(best_od_boulder_grade_by_date).values %>

            <canvas id="best_boulder_grade_by_date" width="400" height="300"></canvas>
          </div>

          <h5 class="mt-3 pl-1 mb-1">ボルダー最高グレード(タイプ別)</h5>
          <div>
            <!-- ジム用元データ -->
            <% best_grades = {'スラブ' => 0, '垂壁' => 0, '前傾壁' => 0, '強傾斜壁' => 0, 'ルーフ' => 0} %>
            <% best_boulder_grade_by_type = @logs.joins(:route).where('routes.category_id = ? AND logs.status_id < ?', 1, 4).group(:route_type).maximum('routes.grade_id') %>
            <% best_grades = best_grades.merge(best_boulder_grade_by_type) %>

            <!-- 岩場用元データ -->
            <% best_od_grades = {'スラブ/緩傾斜壁' => 0, '垂壁' => 0, '前傾壁' => 0, '強傾斜壁' => 0, 'ルーフ' => 0} %>
            <% best_od_boulder_grade_by_type = @od_logs.joins(:od_route).where('od_routes.category_id = ? AND od_logs.status_id < ?', 1, 4).group(:route_type).maximum('od_routes.grade_id') %>
            <% best_od_grades = best_od_grades.merge(best_od_boulder_grade_by_type) %>

            <!-- チャート用データ -->
            <% route_types = best_grades.keys %>
            <% best_grades = best_grades.values %>
            <% best_od_grades = best_od_grades.values %>
            <canvas id="best_boulder_grade_by_type" width="400" height="300"></canvas>
          </div>


          <h5 class="mt-3 pl-1 mb-1">完登課題 TOP 5(ジム)</h5>
          <div class="mb-4">
            <% boulders_sent = @logs.joins(:route).where('routes.category_id = ? AND logs.status_id < ?', 1, 4).order('routes.grade_id DESC').order('routes.sub_grade_id DESC').order(date: :DESC).first(5) %>
            <% boulders_sent.each do |boulder_sent| %>
              <div class="card my-2 p-1" style="background-color: rgba(200,247,225,0.2)" >
                <div>
                  <span style="font-size: 1.1rem;">
                    <%= boulder_sent.gym.name %>
                    <%= boulder_sent.route.combined_grade %>
                  </span>
                  <%= boulder_sent.route.route_type %> <%= boulder_sent.route.route_name %>
                </div>
                <div><%= boulder_sent.route.comment %></div>
                <div><%= boulder_sent.route.latest_log_date if boulder_sent.route.logs.exists? %> <%= boulder_sent.route.best_status %> <%= boulder_sent.route.logs.count %>トライ</div>
              </div>
            <% end %>
          </div>

          <h5 class="mt-3 pl-1 mb-1">完登課題 TOP 5(岩場)</h5>
          <div class="mb-4">
            <% od_boulders_sent = @od_logs.joins(:od_route).where('od_routes.category_id = ? AND od_logs.status_id < ?', 1, 4).order('od_routes.grade_id DESC').order('od_routes.sub_grade_id DESC').order(date: :DESC).first(5) %>
            <% od_boulders_sent.each do |od_boulder_sent| %>
              <div class="card my-2 p-1" style="background-color: rgba(200,247,225,0.2)" >
                <div>
                  <span style="font-size: 1.1rem;">
                    <%= od_boulder_sent.area.area_name %>
                    <%= od_boulder_sent.od_route.combined_grade %>
                  </span>
                  <%= od_boulder_sent.od_route.route_type %> <%= od_boulder_sent.od_route.route_name %>
                </div>
                <div><%= od_boulder_sent.od_route.latest_log_date if od_boulder_sent.od_route.od_logs.exists? %> <%= Status.find_by(id: od_boulder_sent.status_id).status %> <%= od_boulder_sent.od_route.od_logs.count %>トライ</div>
              </div>
            <% end %>
          </div>

        </div>

<!-- tab lead -->
        <div class="tab-pane fade" id="lead" role="tabpanel" aria-labelledby="lead-tab">
          <h5 class="mt-3 pl-1 mb-1">リードトライ数(日別)</h5>
          <div class="mb-3">
            <%= column_chart  [
              { name: 'ジム', data: in_route },
              { name: '岩場', data: od_route },
            ],
                points: false,
                dataset: {borderWidth: 0},
                library: {animation: {easing: 'easeOutQuad',"duration": 1000},
                          scales: {xAxes: [{ticks: {padding: 8},
                                            gridLines: {drawTicks: false}}],
                                   yAxes: [{ticks: {suggestedMax: 15, stepSize: 5}, gridLines: {display:false}}]
                                  }
                         },
                suffix: "本" %>
          </div>

          <h5 class="mt-3 pl-1 mb-1">リード完登数</h5>
          <!-- インドアリード用データ -->
          <% best_lead_grade = @logs.joins(:route).where('routes.category_id = ? AND logs.status_id < ?', 2, 4).maximum('routes.grade_id') %>
          <% best_lead_grade = 0 if best_lead_grade.nil? %>
          <% leads_by_grade = {} %>
            <% Grade.where(grade_type: 'ルート').each do |grade| %>
            <% leads_by_grade[grade.grade] = 0 if grade.id <= best_lead_grade + 1 %>
          <% end %>
          <% sents = @logs.joins(:route).joins(:grade).select('grades.grade').where('routes.category_id = ? AND logs.status_id < ?', 2, 4 ).group('grades.grade').count %>
          <% leads_by_grade =  leads_by_grade.merge(sents) %>

          <!-- アウトドアリード用データ -->
          <% best_od_lead_grade = @od_logs.joins(:od_route).where('od_routes.category_id = ? AND od_logs.status_id < ?', 2, 4).maximum('od_routes.grade_id') %>
          <% best_od_lead_grade = 0 if best_od_lead_grade.nil? %>
          <% od_leads_by_grade = {} %>
            <% Grade.where(grade_type: 'ルート').each do |grade| %>
            <% od_leads_by_grade[grade.grade] = 0 if grade.id <= best_od_lead_grade + 1 %>
          <% end %>
          <% od_sents = @od_logs.joins(:od_route).joins(:grade).select('grades.grade').where('od_routes.category_id = ? AND od_logs.status_id < ?', 2, 4 ).group('grades.grade').count %>
          <% od_leads_by_grade =  od_leads_by_grade.merge(od_sents) %>

          <div class="mb-3">
            <%= bar_chart [{name: 'ジム', data: leads_by_grade},
                           {name: '岩場', data: od_leads_by_grade}],
                points: false,
                dataset: {borderWidth: 0},
                library: {animation: {easing: 'easeOutQuad',"duration": 1000},
                          scales: {
                            xAxes: [{ticks: {suggestedMax: 10, stepSize: 5, padding: 8}, gridLines: {drawTicks: false}}],
                            yAxes: [{gridLines: {display:false}}]
                            }
                          },
                suffix: "本" %>
          </div>

          <h5 class="mt-3 pl-1 mb-1">リード最高グレード(日別)</h5>
          <div>
            <!-- インドアリード用元データ -->
            <% best_lead_grade_by_date = @logs.joins(:route).where('routes.category_id = ? AND logs.status_id < ?', 2, 4).group(:date).order(:date).maximum('routes.grade_for_chart') %>

            <!-- アウトドアリード用元データ -->
            <% @od_logs.joins(:od_route).where('od_routes.category_id = ? AND od_logs.status_id < ?', 2, 4).each do |od_log| %>
              user_id:< od_log.user_id %>, date:<%= od_log.date %>, status:<%= od_log.status_id %>, grade: <%= od_log.od_route.grade_for_chart %>
            <% end %>
            <% best_od_lead_grade_by_date = @od_logs.joins(:od_route).where('od_routes.category_id = ? AND od_logs.status_id < ?', 2, 4).group(:date).order(:date).maximum('od_routes.grade_for_chart') %>

            <!-- ラベル用データ -->
            <% lead_labels_hash = {} %>
            <% best_lead_grade_by_date.merge(best_od_lead_grade_by_date).sort.each do |k, v|  %>
              <% lead_labels_hash[k] = nil  %>
            <% end %>
            <% @lead_labels = lead_labels_hash.keys %>

            <!-- チャート用データ -->
            <% @lead_datas = lead_labels_hash.merge(best_lead_grade_by_date).values %>
            <% @od_lead_datas = lead_labels_hash.merge(best_od_lead_grade_by_date).values %>

            <canvas id="best_lead_grade_by_date" width="400" height="300"></canvas>
          </div>

          <h5 class="mt-3 pl-1 mb-1">リード最高グレード(タイプ別)</h5>
          <div>
            <!-- ジム用元データ -->
            <% best_lead_grades = {'スラブ' => nil, '垂壁' => nil, '前傾壁' => nil, '強傾斜壁' => nil, 'ルーフ' => nil} %>
            <% best_lead_grade_by_type = @logs.joins(:route).where('routes.category_id = ? AND logs.status_id < ?', 2, 4).group(:route_type).maximum('routes.grade_for_chart') %>
            <% best_lead_grades = best_lead_grades.merge(best_lead_grade_by_type) %>

            <!-- 岩場用元データ -->
            <% best_od_lead_grades = {'スラブ/緩傾斜壁' => nil, '垂壁' => nil, '前傾壁' => nil, '強傾斜壁' => nil, 'ルーフ' => nil} %>
            <% best_od_lead_grade_by_type = @od_logs.joins(:od_route).where('od_routes.category_id = ? AND od_logs.status_id < ?', 2, 4).group(:route_type).maximum('od_routes.grade_for_chart') %>
            <% best_od_lead_grades = best_od_lead_grades.merge(best_od_lead_grade_by_type) %>

            <!-- チャート用データ -->
            <% lead_route_types = best_lead_grades.keys %>
            <% best_lead_grades = best_lead_grades.values %>
            <% best_od_lead_grades = best_od_lead_grades.values %>
            <canvas id="best_lead_grade_by_type" width="400" height="300"></canvas>
          </div>

          <h5 class="mt-3 pl-1 mb-1">完登課題 TOP 5(ジム)</h5>
          <div class="mb-4">
            <% leads_sent = @logs.joins(:route).where('routes.category_id = ? AND logs.status_id < ?', 2, 4).order('routes.grade_id DESC').order('routes.sub_grade_id DESC').order(date: :DESC).first(5) %>
            <% leads_sent.each do |lead_sent| %>
              <div class="card my-2 p-1" style="background-color: rgba(200,247,225,0.2)" >
                <div>
                  <span style="font-size: 1.1rem;">
                    <%= lead_sent.gym.name %>
                    <%= lead_sent.route.combined_grade %>
                  </span>
                  <%= lead_sent.route.route_type %> <%= lead_sent.route.route_name %>
                </div>
                <div><%= lead_sent.route.comment %></div>
                <div><%= lead_sent.route.latest_log_date if lead_sent.route.logs.exists? %> <%= lead_sent.route.best_status %> <%= lead_sent.route.logs.count %>トライ</div>
              </div>
            <% end %>
          </div>

          <h5 class="mt-3 pl-1 mb-1">完登課題 TOP 5(岩場)</h5>
          <div class="mb-4">
            <% od_leads_sent = @od_logs.joins(:od_route).where('od_routes.category_id = ? AND od_logs.status_id < ?', 2, 4).order('od_routes.grade_id DESC').order('od_routes.sub_grade_id DESC').order(date: :DESC).first(5) %>
            <% od_leads_sent.each do |od_lead_sent| %>
              <div class="card my-2 p-1" style="background-color: rgba(200,247,225,0.2)" >
                <div>
                  <span style="font-size: 1.1rem;">
                    <%= od_lead_sent.area.area_name %>
                    <%= od_lead_sent.od_route.combined_grade %>
                  </span>
                  <%= od_lead_sent.od_route.route_type %> <%= od_lead_sent.od_route.route_name %>
                </div>
                <div><%= od_lead_sent.od_route.latest_log_date if od_lead_sent.od_route.od_logs.exists? %> <%= Status.find_by(id: od_lead_sent.status_id).status %> <%= od_lead_sent.od_route.od_logs.where('od_logs.user_id = ?', @user.id).count %>トライ</div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
<!-- tab contents end -->

    </div>
  </div>
</div>

<script>

// charts for boulder tab
var chartA = document.getElementById("best_boulder_grade_by_date").getContext('2d');
var best_boulder_grade_by_date = new Chart(chartA, {
    type: 'line',
    data: {
        labels: <%= @labels.to_json.html_safe %>,
        datasets: [
          {
            label: "ジム",
            data: <%= @datas.to_json.html_safe %>,
            backgroundColor: 'rgba(22, 127, 251, 0.5)',
            borderColor: 'rgba(22, 127, 251, 0.5)',
            fill: false,
            spanGaps: true
          },
          {
            label: "岩場",
            data: <%= @od_datas.to_json.html_safe %>,
            backgroundColor: 'rgba(106, 113, 232, 0.5)',
            borderColor:  'rgba(106, 113, 232, 0.5)',
            fill: false,
            spanGaps: true
          }
        ]
    },
    options: {
        title:  {
          display: false,
        },
        legend: {
          display: true
        },
        tooltips: {
            // Disable the on-canvas tooltip
            enabled: false
        },
        scales: {
            xAxes: [{
                type: 'time',
                time: {minUnit: 'day',
                       displayFormats: {
                        day: 'YYYY-MM-DD'
                        }
                      },
                distribution: 'linear',
                gridLines: {display:false}
            }],
            yAxes: [{
                ticks: {
                    stepSize: 1,
                    min: 0,
                    max: <%= best_boulder_grade.nil? ? 2  : best_boulder_grade + 1 %>,
                    callback: function(value, index, values) {
                        switch(value) {
                          case 1:
                            return '9級';
                          case 2:
                            return '8級';
                          case 3:
                            return '7級';
                          case 4:
                            return '6級';
                          case 5:
                            return '5級';
                          case 6:
                            return '4級';
                          case 7:
                            return '3級';
                          case 8:
                            return '2級';
                          case 9:
                            return '1級';
                          case 10:
                            return '初段';
                          case 11:
                            return '2段';
                          case 12:
                            return '3段';
                          case 13:
                            return '4段';
                          case 14:
                            return '5段';
                        }
                    }
                }
            }]
        }
    }
});

var chartB = document.getElementById("best_boulder_grade_by_type").getContext('2d');
var best_boulder_grade_by_type = new Chart(chartB, {
    type: 'radar',
    data: {
        labels: <%= route_types.to_json.html_safe %>,
        datasets: [
          {
            label: "ジム",
            data: <%= best_grades.to_json.html_safe %>,
            backgroundColor: 'rgba(22, 127, 251, 0.6)',
            borderColor: 'rgba(22, 127, 251, 0.6)',
            fill: false
          },
          {
            label: "岩場",
            data: <%= best_od_grades.to_json.html_safe %>,
            backgroundColor: 'rgba(106, 113, 232, 0.5)',
            borderColor:  'rgba(106, 113, 232, 0.5)',
            fill: false
          }
        ]
    },
    options: {
        title:  {
          display: false,
        },
        legend: {
          display: true
        },
        tooltips: {
            // Disable the on-canvas tooltip
            enabled: false
        },
        scale: {
            ticks: {
                beginAtZero: true,
                stepSize: 1,
                max: <%= best_boulder_grade.nil? ? 2  : best_boulder_grade + 1 %>,
                callback: function(tick) {
                  switch(tick) {
                          case 1:
                            return '9級';
                          case 2:
                            return '8級';
                          case 3:
                            return '7級';
                          case 4:
                            return '6級';
                          case 5:
                            return '5級';
                          case 6:
                            return '4級';
                          case 7:
                            return '3級';
                          case 8:
                            return '2級';
                          case 9:
                            return '1級';
                          case 10:
                            return '初段';
                          case 11:
                            return '2段';
                          case 12:
                            return '3段';
                          case 13:
                            return '4段';
                          case 14:
                            return '5段';
                          case 15:
                            return '6段';
                        }
                }
            }
        }
    }
});

// charts for lead tab
var chartC = document.getElementById("best_lead_grade_by_date").getContext('2d');
var best_lead_grade_by_date = new Chart(chartC, {
    type: 'line',
    data: {
        labels: <%= @lead_labels.to_json.html_safe %>,
        datasets: [
          {
            label: "ジム",
            data: <%= @lead_datas.to_json.html_safe %>,
            backgroundColor: 'rgba(22, 127, 251, 0.5)',
            borderColor: 'rgba(22, 127, 251, 0.5)',
            fill: false,
            spanGaps: true
          },
          {
            label: "岩場",
            data: <%= @od_lead_datas.to_json.html_safe %>,
            backgroundColor: 'rgba(106, 113, 232, 0.5)',
            borderColor:  'rgba(106, 113, 232, 0.5)',
            fill: false,
            spanGaps: true
          }
        ]
    },
    options: {
        title:  {
          display: false,
        },
        legend: {
          display: true
        },
        tooltips: {
            // Disable the on-canvas tooltip
            enabled: false
        },
        scales: {
            xAxes: [{
                type: 'time',
                time: {minUnit: 'day',
                       displayFormats: {
                        day: 'YYYY-MM-DD'
                        }
                      },
                distribution: 'linear',
                gridLines: {display:false}
            }],
            yAxes: [{
                ticks: {
                    stepSize: 0.25,
                    min: 19.75,
                    max: <%= @best_lead_grade + 0.75 %>,
                    callback: function(value, index, values) {
                        switch(value) {
                          case 18.75:
                            return '5.5';
                          case 19.00:
                            return '5.6';
                          case 19.25:
                            return '5.7';
                          case 19.50:
                            return '5.8';
                          case 19.75:
                            return '5.9';
                          case 20:
                            return 'a';
                          case 20.25:
                            return 'b';
                          case 20.50:
                            return 'c';
                          case 20.75:
                            return '5.10d';
                          case 21:
                            return 'a';
                          case 21.25:
                            return 'b';
                          case 21.50:
                            return 'c';
                          case 21.75:
                            return '5.11d';
                          case 22:
                            return 'a';
                          case 22.25:
                            return 'b';
                          case 22.50:
                            return 'c';
                          case 22.75:
                            return '5.12d';
                          case 23:
                            return 'a';
                          case 23.25:
                            return 'b';
                          case 23.50:
                            return 'c';
                          case 23.75:
                            return '5.13d';
                          case 24:
                            return 'a';
                          case 24.25:
                            return 'b';
                          case 24.50:
                            return 'c';
                          case 24.75:
                            return '5.14d';
                          case 25:
                            return 'a';
                          case 25.25:
                            return 'b';
                          case 25.50:
                            return 'c';
                          case 25.75:
                            return '5.15d';
                        }
                    }
                }
            }]
        }
    }
});


var chartD = document.getElementById("best_lead_grade_by_type").getContext('2d');
var best_boulder_grade_by_type = new Chart(chartD, {
    type: 'radar',
    data: {
        labels: <%= lead_route_types.to_json.html_safe %>,
        datasets: [
          {
            label: "ジム",
            data: <%= best_lead_grades.to_json.html_safe %>,
            backgroundColor: 'rgba(22, 127, 251, 0.6)',
            borderColor: 'rgba(22, 127, 251, 0.6)',
            fill: false
          },
          {
            label: "岩場",
            data: <%= best_od_lead_grades.to_json.html_safe %>,
            backgroundColor: 'rgba(106, 113, 232, 0.5)',
            borderColor:  'rgba(106, 113, 232, 0.5)',
            fill: false
          }
        ]
    },
    options: {
        title:  {
          display: false,
        },
        legend: {
          display: true
        },
        tooltips: {
            // Disable the on-canvas tooltip
            enabled: false
        },
        scale: {
            ticks: {
                beginAtZero: true,
                stepSize: 0.25,
                min: 19.5,
                max: <%= @best_lead_grade + 0.75 %>,
                callback: function(tick) {
                  switch(tick) {
                         case 18.75:
                            return '5.5';
                          case 19.00:
                            return '5.6';
                          case 19.25:
                            return '5.7';
                          case 19.50:
                            return '5.8';
                          case 19.75:
                            return '5.9';
                          case 20:
                            return 'a';
                          case 20.25:
                            return 'b';
                          case 20.50:
                            return 'c';
                          case 20.75:
                            return '5.10d';
                          case 21:
                            return 'a';
                          case 21.25:
                            return 'b';
                          case 21.50:
                            return 'c';
                          case 21.75:
                            return '5.11d';
                          case 22:
                            return 'a';
                          case 22.25:
                            return 'b';
                          case 22.50:
                            return 'c';
                          case 22.75:
                            return '5.12d';
                          case 23:
                            return 'a';
                          case 23.25:
                            return 'b';
                          case 23.50:
                            return 'c';
                          case 23.75:
                            return '5.13d';
                          case 24:
                            return 'a';
                          case 24.25:
                            return 'b';
                          case 24.50:
                            return 'c';
                          case 24.75:
                            return '5.14d';
                          case 25:
                            return 'a';
                          case 25.25:
                            return 'b';
                          case 25.50:
                            return 'c';
                          case 25.75:
                            return '5.15d';
                        }
                }
            }
        }
    }
});

function clickEvent() {
    alert('共有用URLをクリップボードにコピーしました');
}

</script>
