<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <h3 class="mb-0">クラログα</h3>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= active_link_to "ホーム", root_path, active: :exact, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= active_link_to "ジム検索/選択", gyms_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= active_link_to "ダッシュボード", user_path(current_user), class: "nav-link" %>
        </li>
        <li>
          <%= active_link_to "ランキング", users_path, active: :exact, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= active_link_to "アカウント設定", edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= active_link_to "アカウント登録(無料)", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= active_link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
