<% if user_signed_in? %>
  <div class="container mt-3  px-2 ">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div>クラログはジムや自然の岩場で登った記録をカンタンに保存・管理できるツールです。登った本数やグレードの推移などもひと目で確認できます。</div>
        <h4 class="text-center mt-3 mb-3">ジムで登ったログを記録するには？</h4>
        <div class="card p-2 mb-2">
          <h5><i class="fas fa-search"></i> Step 1 - ジムを検索/選択 </h5>
          <div>クラログに登録されている日本全国のジムを、ジム名などで検索して選択します。</div>
        </div>
        <div class="card p-1 mb-2">
          <h5><i class="fas fa-plus-circle"></i> Step 2 - 課題を登録 </h5>
          <div>ジムを選択したら、課題名やグレードなどを登録します。</div>
        </div>
        <div class="card p-1 mb-2">
          <h5><i class="fas fa-tasks"></i> Step 3 - ログを追加 </h5>
          <div>登録した課題に、トライしたログを追加します。</div>
        </div>
        <%= link_to  gyms_path, class: "btn btn-primary btn-block btn-lg mb-4" do %>
          <i class="fas fa-search"></i> ジム検索/選択画面へ進む
        <% end %>

        <h4 class="text-center mt-3 mb-3">岩場で登ったログを記録するには？</h4>
        <div class="card p-2 mb-2">
          <h5><i class="fas fa-search"></i> Step 1 - エリア、サブエリアを選択 </h5>
          <div>岩場のエリア、サブエリアを選択します。該当のエリア、サブエリアが未登録の場合は、新規で登録をします。</div>
        </div>
        <div class="card p-1 mb-2">
          <h5><i class="fas fa-plus-circle"></i> Step 2 - 課題やルートを選択 </h5>
          <div>課題やルートを選択します。該当の課題やルート未登録の場合は、新規で登録をします。</div>
        </div>
        <div class="card p-1 mb-2">
          <h5><i class="fas fa-tasks"></i> Step 3 - ログを追加 </h5>
          <div>選択した課題やルートに、トライしたログを追加します。</div>
        </div>
        <%= link_to  areas_path, class: "btn btn-primary btn-block btn-lg mb-3" do %>
          <i class="fas fa-search"></i> 岩場検索/選択画面へ進む
        <% end %>
        <div>※登録済みのエリア、サブエリア、課題、ルート情報の修正を希望の場合は、info@climbing-log.comまでEメールにてご連絡ください。</div>
      </div>
    </div>
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)), url(<%= asset_path 'banner_indoor.jpg' %>);">
    <div class="container text-center">
      <h1 style="font-size: 48px;" class="mb-3">クラログ</h1>
      <h2 class="mb-3">登る、記録する、うまくなる！</h2>
      <p class="mb-3">ジムで登った記録も、岩場で登った記録もまとめて管理</p>
      <p><a class="btn btn-primary btn-block btn-lg" href="/users/sign_up">アカウント登録(無料)</a></p>
      <p><a href="/users/sign_in" style="font-size: 16px; color: white;">ログイン</a></p>
    </div>
  </div>
  <div class="container mt-3  px-2 ">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="card py-2 mt-4 mb-3" style="background-color: rgba(65,154,136, 0.7)">
          <h3 class="text-center">クラログとは</h3>
        </div>
        <div class="my-3" style="font-size: 1.1rem;">クラログはボルダリングジム、クライミングジムや自然の岩場で登った記録をオンラインでカンタンに保存・管理・共有できるツールです。登った本数やグレードの推移などもひと目で確認できます。
        </div>
        <div class="px-1">
          <a href="http://www.climbing-log.com/users/81822d7fb5fcdaffcef1117f79a72d0bb41624a3">
            <%= image_tag("sample_screen.jpg", class:"img-fluid rounded shadow mb-4") %>
          </a>
          <a class="btn btn-outline-primary btn-block mb-5" href="http://www.climbing-log.com/users/81822d7fb5fcdaffcef1117f79a72d0bb41624a3">サンプル画面をみる</a>
        </div>

        <div class="card py-2 mb-4" style="background-color: rgba(217,168,72, 0.7)">
          <h3 class="text-center">使い方</h3>
        </div>

        <h4 class="text-center mt-4 mb-3">ジムで登った記録をつける</h4>
        <div class="card px-2 py-3 mb-2 text-center" >
          <h5><i class="fas fa-search"></i> Step 1 - ジムを検索/選択 </h5>
          <div class="mb-3">登録されている500以上の日本全国のジムの中から検索/選択します。</div>
          <h5><i class="fas fa-plus-circle"></i> Step 2 - 課題を登録 </h5>
          <div class="mb-3">課題名やグレードなどを登録します。</div>
          <h5><i class="fas fa-tasks"></i> Step 3 - ログを追加 </h5>
          <div>トライした回数や結果、コメントなどを登録します。</div>
        </div>

        <h4 class="text-center mt-4 mb-3">岩場で登った記録をつける</h4>
        <div class="card px-2 py-3 mb-2 text-center ">
          <h5><i class="fas fa-search"></i> Step 1 - エリア、サブエリアを選択 </h5>
          <div class="mb-3">岩場のエリア、サブエリアを選択もしくは新規で登録をします。</div>
          <h5><i class="fas fa-plus-circle"></i> Step 2 - 課題やルートを選択 </h5>
          <div class="mb-3">課題やルートを選択もしくは新規で登録をします。</div>
          <h5><i class="fas fa-tasks"></i> Step 3 - ログを追加 </h5>
          <div>トライした回数や結果、コメントなどを登録します。</div>
        </div>

        <h4 class="text-center mt-4 mb-3">登った記録をチェック・共有する</h4>
        <div class="card px-2 py-3 mb-3">
          <h5><i class="fas fa-chart-line"></i> Step 1 - ダッシュボード </h5>
          <div class="mb-3">いつ何本登ったか、最高グレードがどう推移したか？などのデータを確認できます。<a href="http://www.climbing-log.com/users/81822d7fb5fcdaffcef1117f79a72d0bb41624a3"><i class="fas fa-external-link-alt"></i> サンプル</a></div>
          <h5><i class="fas fa-link"></i> Step 2 - リンクを共有 </h5>
          <div>クラログを公開設定にすれば、SNSやEメールなどで自分のクラログを友だちと共有できます。</div>
        </div>

        <div class="mb-5">
          <a class="btn btn-primary btn-block btn-lg mb-5" href="/users/sign_up">いますぐクラログを試してみる</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render 'shared/footer' %>
