<div class="container mt-3 px-2">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 mb-5 pb-3">
      <div class="d-flex align-items-center">
        <div class="mb-2">
          <%= link_to 'エリア一覧', areas_path %> >
          <%= link_to area_path(@area) do %>
            <%= @area.area_name %>
          <% end %> >
          <span  style="font-size: 1.2em" >
            <%= @sub_area.sub_area_name %>
          </span>
          <% if current_user.admin? %>
            &nbsp;<%= link_to '編集', edit_area_sub_area_path(@area, @sub_area) %>
          <% end %>
        </div>
      </div>
      <div>
        <% @od_routes.each do |od_route| %>
          <div class="card my-2 p-1 ">
            <%= link_to od_route_path(od_route) do %>
              <div>
                <span style="font-size: 1.2em"><%= od_route.route_name %></span> <%= od_route.combined_grade %>
              </div>
            <% end %>
            <div><%= od_route.od_logs.count %>トライ</div>
          </div>
        <% end %>
      </div>
      <%= link_to "新規ルート/課題登録", new_sub_area_od_route_path(@sub_area), class:"btn btn-outline-primary btn-block my-3" %>
    </div>
  </div>
</div>
