<div class="container mt-3 px-2">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 mb-5 pb-3">
      <div>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">エリア名</th>
              <th scope="col">地域</th>
              <th scope="col">登録サブエリア数</th>
              <th scope="col">登録ルート数</th>
            </tr>
          </thead>
          <% @areas.each do |area| %>
            <tr>
              <td><%= link_to area.area_name, area_path(area) %></td>
              <td>
                <% if area.country == "JP" %>
                  <%= area.prefecture %>
                <% elsif area.country.nil? %>
                  <%= '国名未選択' %>
                <% else %>
                  <%= area.country_name %>
                <% end %>
              </td>
              <td><%= area.sub_areas.count %></td>
              <td><%= area.od_routes.count %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div>
       <%= link_to "新規エリア登録", new_area_path, class:"btn btn-outline-primary btn-block my-3" %>
      </div>

    </div>
  </div>
</div>
