<div class="container mt-3 px-2">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 mb-5 pb-3">
      <div class="mb-2">
        <%= link_to 'エリア一覧', areas_path %> >
        <span  style="font-size: 1.2em" ><%= @area.area_name %></span>
        <% if user_signed_in? && current_user.admin? %>
          &nbsp;<%= link_to '編集', edit_area_path(@area) %>
        <% end %>
      </div>
      <div>
        <% @sub_areas.each do |sub_area| %>
          <%= link_to sub_area_path(sub_area) do %>
            <div>
              <span style="font-size: 1.2em"><%= sub_area.sub_area_name %></span>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= link_to "新規サブエリア登録", new_area_sub_area_path(@area), class:"btn btn-outline-primary btn-block my-3" %>
    </div>
  </div>
</div>
