<div class="container mt-3 px-2">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h4>ジム検索/選択</h4>
      <% if user_signed_in? && current_user.logs.exists? %>
        <h5>最近訪問したジム</h5>
        <% @last_five_gyms_visited.each do |gym| %>
          <div>
            <% visited_gym = Gym.find(gym[0]) %>
            <% last_visit = visited_gym.last_visit_date(current_user).to_date %>
            <%= link_to gym_path(visited_gym) do %>
              <span style="font-size: 1.2em"><%=  visited_gym.name %></span> - <%= last_visit.strftime("%Y年%m月%d日(#{%w(日 月 火 水 木 金 土)[last_visit.wday]})") %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <%= form_tag gyms_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control mt-3",
          placeholder: "ジム名(漢字、カナ、アルファベット)や住所の一部を入力"
        %>
        <%= submit_tag "絞り込み検索", class: "btn btn-primary btn-block btn-lg mt-3 mb-3" %>
      <% end %>
        <% if @gyms.present? %>
          <% @gyms.each do |gym| %>
            <div>
              <%= link_to gym_path(gym) do %>
                <span style="font-size: 1.2em"><%= gym.name %></span>  - <%= gym.address[0,3] %>
              <% end %>
            </div>
          <% end %>
          <div class="my-3 mx-auto">
            <%= paginate @gyms %>
          </div>
        <% else %>
          <div>検索条件に合致するジムがみつかりませんでした。</div>
          <div>検索キーワードを変更しても見つからない場合は、該当のジム名をinfo@climbing-log.comまでEメールにてお知らせください。</div>
          <% if current_user.admin? %>
            <%= link_to "新規ジム登録(管理者用)", new_gym_path, class:"btn btn-outline-primary btn-block my-3" %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
