<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <% if current_user.routes.exists? %>
        <h4>最近訪問したジム</h4>
        <% @gyms.each do |gym| %>
          <div>
            <% if gym.last_visit_date(current_user).present? %>
              <%= link_to gym.name, gym_path(gym) %>
              <%= gym.last_visit_date(current_user) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <%= form_tag gyms_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control mt-3",
          placeholder: "ジム名の一部を入力"
        %>
        <%= submit_tag "絞り込み検索", class: "btn btn-primary btn-block mt-3 mb-3" %>
      <% end %>
        <% if @gyms.present? %>
          <% @gyms.each do |gym| %>
            <div>
              <%= link_to gym_path(gym) do %>
                <%= gym.name %> | <%= gym.address[0,3] %>
              <% end %>
            </div>
          <% end %>
              <% else %>
          <div>検索条件に合致するジムがみつかりませんでした。</div>
        <% end %>
      <% if current_user.admin? %>
        <%= link_to "新規ジム登録", new_gym_path %>
      <% end %>
    </div>
  </div>
</div>
