<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-md-6">
      <h4><%= @gym.name %></h4>
      <% if current_user.admin %>
        <%= link_to 'ジム情報変更', edit_gym_path(@gym) %>
      <% end %>
      <div>完登本数：<%= @gym.routes.where('user_id = ?', current_user).count %></div>
      <div>累計訪問日数：<%=  %></div>
      <div>ボルダー最高グレード：<%= %></div>
      <div class="mb-1">リード最高グレード：<%=  %></div>
      <%= link_to '新規課題登録', new_gym_route_path(@gym), class:'btn btn-primary btn-block' %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3">
      <div class="mb-3">今日 | 今週 | 今月 | 今年 | 全期間 | 期間を指定</div>
      <% @gym.routes.where('user_id = ?', current_user).each do |route| %>
        <div>
          <%= Category.find_by(id:route.category_id).category %>
          <%= route.route_name %>
          <%= Grade.find_by(id:route.grade_id).grade %>
          <%= SubGrade.find_by(id:route.sub_grade_id).sub_grade unless route.sub_grade_id.nil? %>
          <%= route.route_type %>
          <%= route.comment %>
          <%= link_to '詳細', route_path(route) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

