<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-md-6">
      <h4><%= @gym.name %></h4>
      <% if current_user.admin %>
        <%= link_to 'ジム情報変更', edit_gym_path(@gym) %>
      <% end %>
      <div>完登本数：<%= @gym.logs.where('user_id = ?', current_user).count %></div>
      <div>訪問日数：<%= %></div>
      <div>ボルダー最高グレード：<%= %></div>
      <div class="mb-1">リード最高グレード：<%=  %></div>
      <%= link_to '新規ログ登録', new_gym_log_path(@gym), class:'btn btn-primary btn-block' %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3">
      <div class="mb-3">今日 | 今週 | 今月 | 今年 | 全期間 | 期間を指定</div>
      <% @gym.logs.where('user_id = ?', current_user).each do |log| %>
        <div>
          <%= log.date %>
          <%= log.category %>
          <%= log.route_type %>
          <%= "#{log.grade}#{log.sub_grade}" %>
          <%= log.status %>
          <%= log.route_name %>
          <%= log.comment %>
        </div>
      <% end %>
    </div>
  </div>
</div>

