<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 mb-5 pb-3">
      <div class='d-flex align-items-center'>
        <h4><%= @gym.name %></h4>
        <% if current_user.admin %>
          <%= link_to '編集', edit_gym_path(@gym) %>
        <% end %>
      </div>
      <div class="card px-2 py-1 mt-1">
        <div>最終訪問日：
          <%= @gym.last_visit_date(current_user) %>
        </div>
        <div>完登本数：
          <% sent_count = 0 %>
          <% @gym.routes.where('user_id = ?', current_user).each do |route| %>
            <% sent_count += 1 if route.sent %>
          <% end %>
          <%= sent_count %>
        </div>
        <div>累計訪問日数：
          <%= @gym.routes.joins(:logs).where('user_id = ?', current_user).count('DISTINCT date') if @gym.routes.exists? %>
        </div>
        <div>ボルダー最高グレード：
          <% boulder =  @gym.routes.joins(:logs).where('user_id = ? and category_id = ? and logs.status_id < ?', current_user, 1, 4).order(grade_id: 'DESC').order(sub_grade_id: 'DESC').first if @gym.routes.exists? %>
          <% unless boulder.nil? %>
            <%= link_to route_path(boulder) do %>
              <%= "#{boulder.combined_grade} (#{boulder.logs.where('status_id < ?', 4).first.date})" unless boulder.nil?  %>
            <% end %>
          <% end %>
          </div>
        <div class="mb-1">リード最高グレード：
          <% lead = @gym.routes.joins(:logs).where('user_id = ? and category_id = ? and logs.status_id < ?', current_user, 2, 4).order(grade_id: 'DESC').order(sub_grade_id: 'DESC').first if @gym.routes.exists? %>
          <% unless lead.nil? %>
            <%= link_to route_path(lead) do %>
              <%= "#{lead.combined_grade} (#{lead.logs.where('status_id < ?', 4).first.date})"%>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="text-left mt-2 mb-1" style="font-size: 15px;">
        <%= @from.strftime("%Y年%m月%d日(#{%w(日 月 火 水 木 金 土)[@from.wday]})") %> 〜 <%= @to.strftime("%Y年%m月%d日(#{%w(日 月 火 水 木 金 土)[@to.wday]})")  %>
      </div>
      <div class="btn-group btn-group-toggle d-flex mb-2">
        <%= active_link_to '全期間', gym_path(@gym),  active: :exact, class:"btn btn-outline-primary btn-sm"  %>
        <%= active_link_to '今年', gym_path(@gym, from: Date.today.beginning_of_year, to: Date.today.end_of_year), active: :exact, class:"btn btn-outline-primary btn-sm" %>
        <%= active_link_to '今月', gym_path(@gym, from: Date.today.beginning_of_month, to: Date.today.end_of_month), active: :exact, class:"btn btn-outline-primary btn-sm"  %>
        <%= active_link_to '今週', gym_path(@gym, from: Date.today.beginning_of_week, to: Date.today.end_of_week), active: :exact, class:"btn btn-outline-primary btn-sm"  %>
        <%= active_link_to '今日', gym_path(@gym, from: Date.today, to: Date.today), active: :exact, class:"btn btn-outline-primary btn-sm"  %>
      </div>
      <div class="btn-group btn-group-toggle d-flex mb-3" data-toggle="buttons">
        <label class="btn btn-outline-primary btn-sm active">
          <input type="radio" name="options" id="showAll" autocomplete="off" checked class="flex-fill"> All
        </label>
        <label class="btn btn-outline-primary btn-sm">
          <input type="radio" name="options" id="sentsOnly" autocomplete="off" class="flex-fill"> 完登分のみ
        </label>
        <label class="btn btn-outline-primary btn-sm">
          <input type="radio" name="options" id="unsentsOnly" autocomplete="off" class="flex-fill"> 未完登分のみ
        </label>
      </div>
      <div>
        <% @routes.each do |route| %>
          <div class="<%= route.sent ? 'sent' : 'unsent' %>">
            <div class="card my-2 p-1">
              <div>
                <div>
                  <%= link_to route_path(route) do %>
                    <span style="font-size: 1.1rem;">
                      <%= Category.find_by(id:route.category_id).category %>
                      <%= route.combined_grade %>
                    </span>
                    <%= route.route_type %><%= route.route_name %>
                  <% end %>
                </div>
                <div><%= route.comment %></div>
                <div><%= route.latest_log_date if route.logs.exists? %><%= route.best_status %><%= route.logs.count %>トライ</div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container fixed-bottom">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <%= link_to '課題を追加', new_gym_route_path(@gym), class:'btn btn-primary btn-lg btn-block mb-3' %>
    </div>
  </div>
</div>

<script>
  const sents = document.querySelectorAll('.sent');
  const unsents = document.querySelectorAll('.unsent');
  const showAll = document.getElementById('showAll');
  const sentsOnly = document.getElementById('sentsOnly');
  const unsentsOnly = document.getElementById('unsentsOnly');
  showAll.addEventListener('focus',(event) => {
    sents.forEach((sent) => {
      sent.classList.remove('d-none');
    });
    unsents.forEach((unsent) => {
      unsent.classList.remove('d-none');
    });
  });
  sentsOnly.addEventListener('focus',(event) => {
    sents.forEach((sent) => {
      sent.classList.remove('d-none');
    });
  unsents.forEach((unsent) => {
      unsent.classList.add('d-none');
    });
  });
  unsentsOnly.addEventListener('focus',(event) => {
    sents.forEach((sent) => {
      sent.classList.add('d-none');
    });
  unsents.forEach((unsent) => {
      unsent.classList.remove('d-none');
    });
  });
</script>

