<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h4><%= link_to @gym.name, gym_path(@gym) %></h4>
      <%= simple_form_for [@gym, @route] do |f| %>
        <%= f.input :category_id,
               label: false,
              prompt: 'カテゴリーを選択',
          collection: Category.all,
          label_method: :category,
          value_method: :id %>
        <%= f.input :grade_id,
               label: false,
              prompt: 'グレードを選択',
          collection: Grade.all,
          label_method: :grade,
          value_method: :id %>
       <%= f.input :sub_grade_id,
               label: false,
              prompt: 'サブグレードを選択(任意)',
          collection: SubGrade.all,
          label_method: :sub_grade,
          value_method: :id %>
        <%= f.input :route_type,
               label: false,
              prompt: 'タイプを選択',
          collection: ['スラブ', '垂壁', '前傾壁', '強傾斜壁', 'ルーフ'] %>
        <%= f.input :route_name,
               label: false,
         placeholder: '課題名(例：奥壁赤テープ)などを入力(オプション)' %>
        <%= f.input :comment,
               label: false,
         placeholder: 'コメント(オプション)' %>
        <%= f.input :image, label: false %>
        <%= f.input :image_cache, as: :hidden %>
        <%= f.submit '登録', class:'btn btn-primary btn-block mb-5' %>
      <% end %>
    </div>
  </div>
</div>

