<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h4><%= link_to @gym.name, gym_path(@gym) %></h4>
      <%= simple_form_for [@gym, @route] do |f| %>
        <%= f.input :category_id,
               label: false,
              prompt: 'カテゴリーを選択',
          collection: Category.all,
          label_method: :category,
          value_method: :id %>
        <%= f.input :grade_id,
               label: false,
              prompt: 'グレードを選択',
          collection: Grade.all,
          label_method: :grade,
          value_method: :id %>
       <%= f.input :sub_grade_id,
               label: false,
              prompt: 'サブグレードを選択(任意)',
          collection: SubGrade.all,
          label_method: :sub_grade,
          value_method: :id %>
        <%= f.input :route_type,
               label: false,
              prompt: 'タイプを選択',
          collection: ['スラブ', '垂壁', '前傾壁', '強傾斜壁', 'ルーフ'] %>
        <%= f.input :route_name,
               label: false,
         placeholder: '課題名(例：奥壁赤テープ)などを入力(オプション)' %>
        <%= f.input :comment,
               label: false,
         placeholder: 'コメント(オプション)' %>
        <div class="d-flex align-items-center mb-3">
          <div>
            <% if @route.image.blank? %>
              <%= image_tag 'no_image_logo.png', size:'120x120', class:'rounded mr-3' %>
            <% else %>
              <%= cl_image_tag @route.image, height: 120, width: 120, crop: :fill, class:"rounded mr-3" %>
            <% end %>
          </div>
          <div>
            <%= f.input :image, label: false %>
            <%= f.input :image_cache, as: :hidden %>
          </div>
        </div>
        <%= f.submit '登録', class:'btn btn-primary btn-lg btn-block mb-3' %>
      <% end %>
      <% unless @route.id.nil? %>
        <%= link_to '課題を削除', route_path(@route), method: :delete, data: {confirm: "課題を削除すると、この課題のログもすべて削除されます。本当に削除しますか?"}, class:'btn btn-outline-warning btn-lg btn-block mb-3' %>
      <% end %>
    </div>
  </div>
</div>

