<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h4><%= link_to @gym.name, gym_path(@gym) %></h4>
      <%= simple_form_for [@gym, @route] do |f| %>
        <%= f.input :category_id,
               label: false,
              prompt: 'カテゴリーを選択',
          collection: Category.all,
          label_method: :category,
          value_method: :id %>
        <%= f.input :grade_id,
               label: false,
              prompt: 'グレードを選択',
          collection: Grade.all,
          label_method: :grade,
          value_method: :id %>
       <%= f.input :sub_grade_id,
               label: false,
              prompt: 'サブグレードを選択(任意)',
          collection: SubGrade.all,
          label_method: :sub_grade,
          value_method: :id %>
        <%= f.input :route_type,
               label: false,
              prompt: 'タイプを選択',
          collection: ['スラブ', '垂壁', '前傾壁', '強傾斜壁', 'ルーフ'] %>
        <%= f.input :route_name,
               label: false,
         placeholder: '課題名(例：奥壁赤テープ)などを入力(オプション)' %>
        <%= f.input :comment,
               label: false,
         placeholder: 'コメント(オプション)' %>
<!--         <div class="d-flex align-items-center mb-3"> -->
<!-- hiding image upload for routes for now -->
<!--           <div>
            <% if @route.image.blank? %>
              <%= image_tag 'no_image_logo.png', size:'120x120', class:'rounded mr-3' %>
            <% else %>
              <%= cl_image_tag @route.image, height: 120, width: 120, crop: :fill, class:"rounded mr-3" %>
            <% end %>
          </div>
          <div>
            <%= f.input :image, label: false %>
            <%= f.input :image_cache, as: :hidden %>
          </div>
        </div> -->
        <%= f.submit '登録', class:'btn btn-primary btn-lg btn-block mb-3' %>
<!--       <% end %> -->
      <% unless @route.id.nil? %>
        <%= link_to '課題を削除', route_path(@route), method: :delete, data: {confirm: "課題を削除すると、この課題のログもすべて削除されます。本当に削除しますか?"}, class:'btn btn-outline-warning btn-lg btn-block mb-3' %>
      <% end %>
      <%= link_to '戻る', gym_path(@gym), class:'btn btn-outline-secondary btn-lg btn-block mb-3' %>
    </div>
  </div>
</div>

<script>
  const category = document.getElementById("route_category_id");
  console.log(category);
  const grade = document.getElementById("route_grade_id");
  console.log(grade);
  const subGrade = document.getElementById("route_sub_grade_id");
  console.log(subGrade);
  category.addEventListener("change",(event)=> {
    const value = category.options[category.selectedIndex].value;
    if (value === '1') {
      grade.innerHTML = "";
      grade.insertAdjacentHTML('beforeend','<option>グレードを選択</option>');
      grade.insertAdjacentHTML('beforeend',"<option value='1'>9級</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='2'>8級</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='3'>7級</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='4'>6級</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='5'>5級</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='6'>4級</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='7'>3級</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='8'>2級</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='9'>1級</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='10'>初段</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='11'>2段</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='12'>3段</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='13'>4段</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='14'>5段</option>");
      subGrade.innerHTML = "";
      subGrade.insertAdjacentHTML('beforeend','<option value="">サブグレード(オプション)</option>');
      subGrade.insertAdjacentHTML('beforeend',"<option value='1'>+</option>");
    } else {
      grade.innerHTML = "";
      grade.insertAdjacentHTML('beforeend','<option>グレードを選択</option>');
      grade.insertAdjacentHTML('beforeend',"<option value='15'>5.5</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='16'>5.6</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='17'>5.7</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='18'>5.8</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='19'>5.9</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='20'>5.10</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='21'>5.11</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='22'>5.12</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='23'>5.13</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='24'>5.14</option>");
      grade.insertAdjacentHTML('beforeend',"<option value='25'>5.15</option>");
      subGrade.innerHTML = "";
      subGrade.insertAdjacentHTML('beforeend','<option value="">サブグレード(オプション)</option>');
      subGrade.insertAdjacentHTML('beforeend',"<option value='2'>a</option>");
      subGrade.insertAdjacentHTML('beforeend',"<option value='3'>a/b</option>");
      subGrade.insertAdjacentHTML('beforeend',"<option value='4'>b</option>");
      subGrade.insertAdjacentHTML('beforeend',"<option value='5'>b/c</option>");
      subGrade.insertAdjacentHTML('beforeend',"<option value='6'>c</option>");
      subGrade.insertAdjacentHTML('beforeend',"<option value='7'>c/d</option>");
      subGrade.insertAdjacentHTML('beforeend',"<option value='8'>d</option>");
    }
  });
</script>

