<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h4 class="mb-3"><%= @gym.name %></h4>
      <%= simple_form_for [@gym, @route] do |f| %>
        <%= f.input :route_name,
               label: false,
         placeholder: '課題名などを入力' %>
        <%= f.input :category_id,
               label: false,
              prompt: 'カテゴリーを選択',
          collection: @categories,
          label_method: :category,
          value_method: :id %>
        <%= f.input :grade_id,
               label: false,
              prompt: 'グレードを選択',
          collection: @grades,
          label_method: :grade,
          value_method: :id %>
       <%= f.input :sub_grade_id,
               label: false,
              prompt: 'サブグレードを選択(任意)',
          collection: @sub_grades,
          label_method: :sub_grade,
          value_method: :id %>
        <%= f.input :route_type,
               label: false,
              prompt: 'タイプを選択',
          collection: ['スラブ', '垂壁', '前傾壁', '強傾斜壁', 'ルーフ'] %>
        <%= f.input :comment,
               label: false,
         placeholder: 'コメント(任意)' %>
        <%= f.input :image %>
        <%= f.input :image_cache, as: :hidden %>
        <%= f.submit '登録', class:'btn btn-primary btn-block mb-5' %>
      <% end %>
    </div>
  </div>
</div>

