<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div>
        <div class="d-flex mb-3">
<!-- hiding image upload for routes for now -->
<!--           <div>
            <% if @route.image.blank? %>
              <%= link_to edit_route_path(@route) do %>
                <%= image_tag 'no_image_logo.png', size:'120x120', class:'rounded mr-3' %>
              <% end %>
            <% else %>
              <%= cl_image_tag @route.image, height: 120, width: 120, crop: :fill, class:"rounded mr-3" %>
            <% end %>
          </div> -->
          <div>
            <h4><%= link_to @route.gym.name, gym_path(@route.gym) %></h4>
            <div>
              <span style="font-size: 1.1rem;">
                <%= Category.find_by(id:@route.category_id).category %>
                <%= @route.combined_grade %>
              </span>
              <%= link_to '編集', edit_route_path(@route) %>
            </div>
            <div>
              <%= @route.route_type %>
              <%= @route.route_name %>
            </div>
            <div>
              <%= @route.comment %>
            </div>
          </div>
        </div>
        <% if @route.logs.exists? %>
          <% @route.logs.order(date: 'DESC').each do |log| %>
            <div class="card p-1 my-1">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <%= link_to edit_route_log_path(log.route, log) do %>
                  <span style="font-size: 1.1rem"><%= log.date %></span>
                  <%= Status.find_by(id:log.status_id).status %>
                  <% end %>
                </div>
                <div>
                  <%= link_to '複製', duplicate_log_path(log) %>
                  <%= link_to '削除', log_path(log), method: :delete %>
                </div>
              </div>
              <div>
                <%= log.comment %>
              </div>
            </div>
          <% end %>
        <% else %>
          ログがまだ登録されていません
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container fixed-bottom">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <%= link_to 'ログを追加', new_route_log_path(@route), class:'btn btn-primary btn-block btn-lg my-3' %>
    </div>
  </div>
</div>
