<div class="container mt-3">
  <div class="row">
    <div class="col-12 mt-3">
      <div>
        <%= link_to @route.gym.name, gym_path(@route.gym) %>
        <%= Category.find_by(id:@route.category_id).category %>
        <%= @route.route_name %>
        <%= Grade.find_by(id:@route.grade_id).grade %>
        <%= SubGrade.find_by(id:@route.sub_grade_id).sub_grade unless @route.sub_grade_id.nil? %>
        <%= @route.route_type %>
        <%= @route.comment %>
        <%= link_to '新規ログ登録', new_route_log_path(@route), class:'btn btn-primary btn-block mt-3' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3">
      <% @route.logs.each do |log| %>
        <div>
          <%= log.date %>
          <%= Status.find_by(id:log.status_id).status %>
          <%= log.comment %>
          <%= link_to '編集', edit_route_log_path(log) %>
          <%= link_to '削除', log_path(log), method: :delete %>
      <% end %>
    </div>
  </div>
</div>
