<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <%= link_to route_path(@route) do %>
        <div class="d-flex mb-3">
<!--           <div>
            <% if @route.image.blank? %>
              <%= link_to edit_route_path(@route) do %>
                <%= image_tag 'no_image_logo.png', size:'120x120', class:'rounded mr-3' %>
              <% end %>
            <% else %>
              <%= cl_image_tag @route.image, height: 120, width: 120, crop: :fill, class:"rounded mr-3" %>
            <% end %>
          </div> -->
          <div>
            <h4><%= link_to @route.gym.name, gym_path(@route.gym) %></h4>
            <div style="font-size: 1.1rem;">
              <%= Category.find_by(id:@route.category_id).category %>
              <%= @route.combined_grade %>
            </div>
            <div>
              <%= @route.route_type %>
              <%= @route.route_name %>
            </div>
          </div>
        </div>
      <% end %>
      <%= simple_form_for [@route, @log] do |f| %>
        <%= f.input :date, label: false %>
        <%= f.input :status_id,
               label: false,
              prompt: 'ステータスを選択',
          collection: Status.all.order(id: 'ASC'),
          label_method: :status,
          value_method: :id %>
        <%= f.input :comment,
               label: false,
         placeholder: 'コメント(オプション)' %>
        <%= f.submit 'ログを登録', class:'btn btn-primary btn-lg btn-block mb-3' %>
      <% end %>
      <% unless @log.id.nil? %>
        <%= link_to 'ログを削除', log_path(@log), method: :delete, data: {confirm: "本当に削除しますか?"}, class:'btn btn-outline-warning btn-lg btn-block mb-3' %>
      <% end %>
    </div>
  </div>
</div>
