<div class="container mt-3 ">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="d-flex mb-1 align-items-center">
      <% if current_user.image.blank? %>
        <%= link_to edit_user_registration_path do %>
          <%= image_tag 'no_profile_image_logo.png', size:'48x48', class:'rounded-circle mr-3' %>
        <% end %>
      <% else %>
        <%= cl_image_tag current_user.image, height: 48, width: 48, crop: :fill, class:'rounded-circle mr-3' %>
      <% end %>
        <div>
          <h4 class="mb-0">
            <%= link_to edit_user_registration_path do %>
              <%= current_user.nickname.blank? ? 'ニックネーム未設定' : current_user.nickname %>
            <% end %>さんのクラログ
          </h4>
          <div style="font-size: 0.8rem;">
            <%= @from_date.strftime("%Y年%m月%d日(#{%w(日 月 火 水 木 金 土)[@from_date.wday]})") %> 〜 <%= @to_date.strftime("%Y年%m月%d日(#{%w(日 月 火 水 木 金 土)[@to_date.wday]})")  %>
          </div>
        </div>
      </div>
      <div>

      </div>
      <div class="my-3 date_select_menu text-center">
        <%= active_link_to '全期間', logs_path, active: :exact, class:'date_select_menu'  %>|
        <%= active_link_to '昨年', logs_path(period: 'lastyear'), active: :exact %>|
        <%= active_link_to '今年', logs_path(period: 'thisyear'), active: :exact %>|
        <%= active_link_to '先月', logs_path(period: 'lastmonth'), active: :exact %>|
        <%= active_link_to '今月', logs_path(period: 'thismonth'), active: :exact %>|
        <%= active_link_to '先週', logs_path(period: 'lastweek'), active: :exact %>|
        <%= active_link_to '今週', logs_path(period: 'thisweek'), active: :exact %>|
        <%= active_link_to '昨日', logs_path(period: 'yesterday'), active: :exact %>|
        <%= active_link_to '今日', logs_path(period: 'today'), active: :exact %>
      </div>

      <div class="card px-2 pt-1 pb-0 mt-1">
        <div>完登本数：
          <%= @logs.where('status_id < ?', 4).count %>
        </div>
        <div>クライミング日数：
          <%= @logs.count('DISTINCT date') if @logs.exists? %>
        </div>
        <div>ボルダー最高グレード：
          <% boulder_best_log =  @logs.joins(:route).where('routes.category_id = ? and logs.status_id < ?', 1, 4).order(grade_id: 'DESC').order(sub_grade_id: 'DESC').order(date: 'DESC').first if @logs.exists? %>
          <% unless boulder_best_log.nil? %>
            <%= link_to route_path(boulder_best_log.route) do %>
            <%= "#{boulder_best_log.route.combined_grade} (#{boulder_best_log.date} #{boulder_best_log.route.gym.name})" %>
            <% end %>
          <% end %>
        </div>
        <div class="mb-1">リード最高グレード：
          <% lead_best_log =  @logs.joins(:route).where('routes.category_id = ? and logs.status_id < ?', 2, 4).order(grade_id: 'DESC').order(sub_grade_id: 'DESC').order(date: 'DESC').first if @logs.exists? %>
          <% unless lead_best_log.nil? %>
            <%= link_to route_path(lead_best_log.route) do %>
            <%= "#{lead_best_log.route.combined_grade} (#{lead_best_log.date} #{lead_best_log.route.gym.name})" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <h5 class="mt-3 pl-1 mb-1">日別トライ本数</h5>
      <div class="mb-3">
        <%= column_chart @logs.group_by_day(:date).count,
            points: false,
            colors: ["#167FFB", "#666"],
            dataset: {borderWidth: 0},
            library: {scales: {xAxes: [{ticks: {padding: 8},
                                        gridLines: {drawTicks: false}}],
                               yAxes: [{ticks: {suggestedMax: 15, stepSize: 5}, gridLines: {display:false}}]
                              }
                     },
            suffix: "本",
            height: "200px",
            messages: {empty: "データがありません"} %>
      </div>

      <h5 class="mt-3 pl-1 mb-1">ボルダー完登数</h5>
      <% boulders_by_grade = {} %>
        <% Grade.where(grade_type: 'ボルダー').each do |grade| %>
        <% boulders_by_grade[grade.grade] = 0 %>
      <% end %>
      <% sents = @logs.joins(:route).joins(:grade).select('grades.grade').where('routes.category_id = ? AND logs.status_id < ?', 1, 4 ).group('grades.grade').count %>
      <% boulders_by_grade =  boulders_by_grade.merge(sents) %>
      <div class="mb-3">
        <%= bar_chart boulders_by_grade,
            points: false,
            colors: ["#167FFB", "#666"],
            dataset: {borderWidth: 0},
           library: {scales: {
                        xAxes: [{ticks: {suggestedMax: 10, stepSize: 5, padding: 8}, gridLines: {drawTicks: false}}],
                        yAxes: [{gridLines: {display:false}}]
                        }
                      },
            suffix: "本",
            height: "200px",
            messages: {empty: "データがありません"} %>
      </div>

      <h5 class="mt-3 pl-1 mb-1">リード完登数</h5>
      <% leads_by_grade = {} %>
        <% Grade.where(grade_type: 'ルート').each do |grade| %>
        <% leads_by_grade[grade.grade] = 0 %>
      <% end %>
      <% sents = @logs.joins(:route).joins(:grade).select('grades.grade').where('routes.category_id = ? AND logs.status_id < ?', 2, 4 ).group('grades.grade').count %>
      <% leads_by_grade =  leads_by_grade.merge(sents) %>
      <div class="mb-3">
        <%= bar_chart leads_by_grade,
            points: false,
            colors: ["#167FFB", "#666"],
            dataset: {borderWidth: 0},
            library: {scales: {
                        xAxes: [{ticks: {suggestedMax: 10, stepSize: 5, padding: 8}, gridLines: {drawTicks: false}}],
                        yAxes: [{gridLines: {display:false}}]
                        }
                      },
            suffix: "本",
            height: "200px",
            messages: {empty: "データがありません"} %>
      </div>
    </div>
  </div>
</div>
