<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>クラログ</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag('favicon.png') %>
    <meta name="keywords" content="クライミング, ボルダリング, climbing, bouldering, 記録, ログ, 管理">
    <meta name="description" content="クラログαはボルダリングジム、クライミングジムで登った記録をカンタンに保存・管理できるツールです。登った本数やグレードの推移などもひと目で確認できます。">
    <meta name="robots" content="all">
    <meta property="og:title" content="ボルダリングジム、クライミングジムで登った記録をカンタンに保存・管理">
    <meta property="og:type" content="website">
    <meta property="og:url"
       content="https://www.climbing-log.com">
    <meta property="og:site_name" content="クラログ">
    <meta property="og:description"
       content="クラログはボルダリングジム、クライミングジムで登った記録をカンタンに保存・管理できるツールです。登った本数やグレードの推移などもひと目で確認できます。">
    <meta property="og:image:secure_url"
       content="https://www.climbing-log.com/assets/climbing-log-image.jpg">
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
